@import "../../../../../../components/GlobalStyles/GlobalStyles.scss";

$border-width: 1px;

.wrapper {
   border-left: $border-width solid $fifty-second-color;
}

.tr {
   border-bottom: $border-width solid $fifty-second-color;
}

.th,
.td {
   border-right: $border-width solid $fifty-second-color;
}
